/* line 7, ../sass/locationpicker.scss */
.lp-input {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  background: url('../img/pin-light.png?1361227987') no-repeat right top;
}

/* line 17, ../sass/locationpicker.scss */
.lp-container {
  width: 280px;
  background: #FFF;
  border: 1px solid #ccc;
  position: absolute;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px #888888;
  -moz-box-shadow: 0px 0px 3px #888888;
  box-shadow: 0px 0px 3px #888888;
}
/* line 27, ../sass/locationpicker.scss */
.lp-container .lp-map {
  width: 100%;
  height: 180px;
}
/* line 34, ../sass/locationpicker.scss */
.lp-container .lp-help {
  font-size: 10px;
  color: #999;
  font-family: sans-serif;
  padding: 8px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #eee;
}
/* line 43, ../sass/locationpicker.scss */
.lp-container .lp-submit {
  margin: 0px 0px 0px 3px;
}
/* line 47, ../sass/locationpicker.scss */
.lp-container .lp-search {
  margin: 0;
}
